/* --- CENTRAR BIEN LA CALCULADORA --- */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Establecer la altura del body en 100vh (viewport height) para asegurarnos de que todo esté centrado verticalmente */
}

.screen {
    height: 50px;
    width: 150px;
    margin-bottom: 10px;

    border-radius: 10px;
    text-align: right; /* conseguimos que el marcador de texto se encuentre al final */
    font-size: 1rem;
}

.keys {
    width: 250px;
}

.clearBtn {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;

    color: white;
    font-size: 1rem;
    background-color: orange;
    border-radius: 10px;
}

.btn,
.operator {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;

    color: white;
    font-size: 1rem;
    background-color: black;
    border-radius: 10px;
}